.overlay{
  overflow: hidden;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  position: fixed;
  top: 5px;
  left: 5px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.close{
  position: fixed;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 50px;
  height: 50px;
  background-image: url("close.svg");
  background-size: 33%;
  background-repeat: no-repeat;
  background-position: center;
}

.close:hover{
  background-color: rgba(0, 0, 0, 0.06);
}

#content, html, body {
  position: fixed;
  margin: 0px;
  width: 100%;
  height: 100%;
  /*background-color: rgb(36, 39, 46);*/

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#pieChart {
  width: 100%;
  height: 100%;
}
