<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.sparber.mycc" android:versionName="0.9.4" android:installLocation="auto" android:versionCode="19">
	<uses-sdk android:minSdkVersion="17" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.USE_FINGERPRINT" />
	<application android:label="@string/AppName" android:icon="@drawable/ic_launcher"></application>
</manifest>