<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CarouselView.FormsPlugin" version="3.0.0" targetFramework="portable46-net451+win81+wpa81" />
  <package id="ExifLib.PCL" version="1.0.2-pre01" targetFramework="portable46-net451+win81+wpa81" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="portable46-net451+win81+wpa81" />
  <package id="Plugin.Fingerprint" version="1.4.1" targetFramework="portable46-net451+win81+wpa81" />
  <package id="Xamarin.Forms" version="2.3.3.180" targetFramework="portable46-net451+win81+wpa81" />
  <package id="XLabs.Core" version="2.3.0-pre05" targetFramework="portable46-net451+win81+wpa81" />
  <package id="XLabs.Forms" version="2.3.0-pre05" targetFramework="portable46-net451+win81+wpa81" />
  <package id="XLabs.IoC" version="2.3.0-pre05" targetFramework="portable46-net451+win81+wpa81" />
  <package id="XLabs.Platform" version="2.3.0-pre05" targetFramework="portable46-net451+win81+wpa81" />
  <package id="XLabs.Serialization" version="2.3.0-pre05" targetFramework="portable46-net451+win81+wpa81" />
  <package id="XLabs.Serialization.JSON" version="2.3.0-pre05" targetFramework="portable46-net451+win81+wpa81" />
  <package id="ZXing.Net.Mobile" version="2.1.47" targetFramework="portable46-net451+win81+wpa81" />
  <package id="ZXing.Net.Mobile.Forms" version="2.1.47" targetFramework="portable46-net451+win81+wpa81" />
</packages>